@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #242424;
  color: white;
  transition: all 0.3s ease;
}

.white-theme .logo {
  filter: none;
}

.white-theme,
.white-theme nav,
.white-theme nav a {
  background-color: #fff;
  color: #242424;
}

.white-theme .circle-hero,
.white-theme .fa-brands {
  background-color: #242424;
  color: #fff;
}

.logo {
  filter: brightness(0) invert(1);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #242424;
  z-index: 2;
  height: 80px;
  transition: all 0.3s ease;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.shape {
  position: fixed;
  z-index: -1;
  font-size: 28px;
  color: #3891a6;
  filter: blur(1.2px);
}

.shape-0 {
  top: 15vh;
  left: 11vw;
}
.shape-1 {
  top: 20vh;
  left: 40vw;
}
.shape-2 {
  top: 17vh;
  left: 77vw;
}
.shape-3 {
  top: 78vh;
  left: 7vw;
}
.shape-4 {
  top: 64vh;
  left: 58vw;
}
.shape-5 {
  top: 72vh;
  left: 82vw;
}

nav a img {
  width: 70px;
  margin-top: -15px;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  margin-top: -15px;
  font-size: 22px;
}

.theme {
  cursor: pointer;
}

.nav a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

.nav li {
  padding: 0 15px;
  transition: all 0.3s ease;
}

.nav li a {
  position: relative;
}

.nav a.active,
.nav a:hover,
.nav li:hover {
  color: #3891a6;
}

.nav li a:after {
  content: '';
  position: absolute;
  bottom: -3px;
  height: 3px;
  right: 0;
  width: 0;
  transition: all 0.3s ease;
  background-color: #3891a6;
}

.nav a:hover:after {
  left: 0;
  width: 100%;
}

nav .drop-menu {
  display: none;
}

/* .modal {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
}

.modalContent {
  background-color: #fff;
  border-radius: 8px;
  margin: 20% auto 0% auto;
  padding: 15px;
  border: 1px solid #111;
  text-align: center;
  width: 40%;
  transition: all 0.3s ease;
} */

.container {
  max-width: 80%;
  margin: 0 auto;
}

.hero {
  height: 880px;
  max-width: 80%;
  margin: 40px auto;
}

.hero .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.hero h1 {
  font-size: 94px;
  animation: fade-up 0.8s 0.3s backwards;
}

.hero h3 {
  font-size: 62px;
  animation: fade-up 0.8s 0.3s backwards;
}

.hero h2 {
  font-size: 75px;
  margin-top: 20px;
  animation: fade-up 0.8s 0.3s backwards;
}

.dot {
  color: #3891a6;
}

.text-change {
  height: 100px;
  overflow: hidden;
  color: #c84630;
  animation: fade-up 0.8s 0.3s backwards;
}

.text-change .animation {
  animation: text-animation 18s ease infinite;
  animation-delay: 2s;
  margin-top: -20px;
}

@keyframes text-animation {
  0% {
    margin-top: -20px;
  }

  25% {
    margin-top: -128px;
  }

  50% {
    margin-top: -236px;
  }

  75% {
    margin-top: -128px;
  }

  100% {
    margin-top: -20px;
  }
}

.circles {
  display: flex;
  margin: 15px 0;
  animation: fade-up 0.8s 0.3s backwards;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(90px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.circle-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.fa-brands {
  color: #242424;
  font-size: 22px;
}

.mouse {
  align-self: center;
  width: 25px;
  height: 40px;
  border: solid 2px white;
  border-radius: 45%;
  display: flex;
  justify-content: center;
  margin-bottom: -200px;
  margin-top: 200px;
}
.white-theme .mouse {
  border: solid 2px #242424;
}

.touch {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: white;
  margin-top: 5px;

  animation: custom-scroll 2.5s infinite linear;
}

.white-theme .touch {
  background: #242424;
}

@keyframes custom-scroll {
  0%,
  10% {
    margin-top: 5px;
  }

  50% {
    margin-top: 20px;
  }

  90%,
  100% {
    margin-top: 5px;
  }
}

#skills {
  text-align: center;
}

.title {
  font-size: 62px;
  text-align: center;
  padding-top: 110px;
}

.skill-imgs {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

figure img {
  width: 200px;
  margin: 20px;
  transition: all 0.2s ease-in-out;
}

figure img:hover {
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}

figure p {
  font-size: 24px;
}

#projects {
  text-align: center;
}

.card {
  width: 900px;
  height: 500px;
  margin: 80px auto;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  transition: all 0.3s ease;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 60px -4px black;
}

.card-img {
  z-index: -1;
  width: 100%;
  transition: all 0.3s ease;
}

.card:after {
  width: 100%;
  content: '';
  left: 0px;
  bottom: 0px;
  height: 0px;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.9) 100%
  );
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(0.95);
}

.card:hover .card-img {
  filter: blur(0.95px);
}

.card:hover:after {
  height: 500px;
}

.card-text {
  position: absolute;
  bottom: 0px;
  padding: 20px;
  padding-bottom: 30px;
  transition: all 0.3s ease;
  z-index: 1;
  text-align: start;
  opacity: 0;
  padding: 40px;
  padding-bottom: 80px;
  transform: translateY(100%);
  font-size: 30px;
  color: #fff;
}

.card-text h4 {
  font-size: 35px;
}

.card:hover .card-text {
  opacity: 1;
  transform: translateY(-5%);
}

.card .card-button {
  padding: 7px 17px;
  border-radius: 12px;
  background: transparent;
  border: solid 2px #fff;
  color: white;
  margin: 10px auto;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 15px;
  outline: none;
}

.card-button:hover {
  background: #fff;
  color: #000;
}

.footer {
  margin-top: 200px;
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #242424;
}

.logo-footer {
  filter: brightness(0) invert(1);
  width: 66px;
}

.footer ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  font-size: 18px;
}

.footer ul li {
  margin: 8px;
}

.footer a {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in-out;
}

.footer li a {
  position: relative;
}

.footer li a:after {
  content: '';
  position: absolute;
  bottom: -3px;
  height: 3px;
  right: 0;
  width: 0;
  transition: all 0.3s ease;
  background-color: #fff;
}

.footer a:hover:after {
  left: 0;
  width: 100%;
}

@media (max-width: 1200px) {
  .shape {
    opacity: 0;
  }

  .hero {
    height: 700px;
  }

  .skill-imgs {
    flex-direction: column;
  }

  figure img {
    width: 220px;
  }

  .card {
    width: 690px;
    height: 400px;
  }

  .card:hover .card-text {
    transform: translateY(10%);
  }
}

@media (max-width: 480px) {
  .hero {
    margin-top: 80px;
    max-width: 100%;
  }

  nav .drop-menu {
    display: block;
    font-size: 45px;
    margin-top: -15px;
  }

  nav ul {
    display: none;
    flex-direction: column;
  }

  .drop {
    position: fixed;
    height: 600px;
  }

  nav.drop .drop-menu {
    position: relative;
    right: 0;
    top: 0;
  }

  .drop ul {
    display: block;
    flex-direction: column;
    text-align: right;
    position: absolute;
    margin-top: 550px;
    right: 30px;
    background-color: transparent;
    width: 200px;
  }

  .drop ul li {
    margin-top: 40px;
    font-size: 50px;
    background-color: transparent;
  }

  .hero h1 {
    font-size: 64px;
  }

  .hero h3 {
    font-size: 48px;
  }

  .hero h2 {
    font-size: 54px;
    margin-bottom: 50px;
  }

  .text-change {
    height: 120px;
    animation: fade-up 0.8s 0.3s backwards;
  }

  .text-change .animation {
    animation: text-animation 18s ease infinite;
    animation-delay: 2s;
    margin-top: -20px;
  }

  @keyframes text-animation {
    0% {
      margin-top: -20px;
    }

    25% {
      margin-top: -135px;
    }

    50% {
      margin-top: -252px;
    }

    75% {
      margin-top: -135px;
    }

    100% {
      margin-top: -20px;
    }
  }

  .mouse,
  .touch {
    display: none;
  }

  .title {
    font-size: 58px;
    margin-top: 20px;
  }

  figure img {
    width: 180px;
  }

  .card {
    width: 300px;
    height: 180px;
  }

  .card:hover:after {
    height: 300px;
  }

  .card-text {
    text-align: center;
    transform: translateY(53%);
  }

  .card-text p {
    display: none;
  }

  .card-text h4 {
    font-size: 26px;
  }

  .card:hover .card-text {
    opacity: 1;
    transform: translateY(24%);
  }

  .card .card-button {
    padding: 4px 10px;
    font-size: 14px;
  }

  .footer {
    margin-top: 100px;
    height: 200px;
  }
}
